/* common css start */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  border: 0;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  max-width: 1208px;
}
.hotline {
  color: #5e3bee;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.heading {
  color: #000;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.22px;
}
.note {
  color: rgba(18, 18, 18, 0.7);
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.cmn-btn {
  background-color: #5e3bee;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  width: 204px;
  height: 70px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
}
.cmn-btn img {
  padding-right: 9px;
}
.cmn-btn .parent {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  transform: translate(-50%, -9%);
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
}
.cmn-btn .parent .child {
  display: flex;
  width: max-content;
}
.cmn-btn:hover .parent {
  transform: translate(-50%, -87%);
  -webkit-transform: translate(-50%, -87%);
  -moz-transform: translate(-50%, -87%);
  -ms-transform: translate(-50%, -87%);
  -o-transform: translate(-50%, -87%);
}
.card-title{
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.5px;
}
/* common css end */
/* nav start */
#navigation {
  padding: 30px 0;
  background-color: #f9f9fc;
}
#navigation .navbar-nav {
  column-gap: 46px;
}
#navigation .navbar-nav .nav-item .nav-link {
  padding-left: 0;
  padding-right: 0;
  color: #000;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
#navigation .cmn-btn {
  width: 124px;
  height: 40px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
#navigation .cmn-btn img {
  padding-right: 0;
  width: 20px;
  padding-left: 7px;
}
/* nav end */
/* banner start */
#banner {
  padding: 16px 0 44px;
  background-color: #f9f9fc;
}
#banner .banner-text {
  margin-top: 119px;
}
#banner .banner-text h1 {
  color: #333;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin-top: 32px;
}
#banner .banner-text .bnrbtn {
  display: flex;
  width: fit-content;
  margin-top: 32px;
}
#banner .banner-text .bnrbtn .bannerbtn {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  position: relative;
  z-index: 1;
  padding: 23px 38px;
  border-radius: 50px;
  overflow: hidden;
  text-transform: uppercase;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  display: flex;
  align-items: center;
  column-gap: 9px;
}
#banner .banner-text .bnrbtn .download {
  color: #333;
}
#banner .banner-text .bnrbtn .bannerbtn::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #5e3bee;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#banner .banner-text .bnrbtn .bannerbtn svg path {
  fill: transparent;
  stroke: #fff;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}
#banner .banner-text .bnrbtn .download svg path {
  stroke: #333;
}
#banner .banner-text .bnrbtn .download::after {
  width: 0%;
}
#banner .banner-text .bnrbtn:hover .bannerbtn:not(:hover):after {
  width: 0%;
}
#banner .banner-text .bnrbtn:hover .bannerbtn:not(:hover) {
  color: #333;
}
#banner .banner-text .bnrbtn:hover .bannerbtn:hover svg path {
  stroke: #fff;
}
#banner .banner-text .bnrbtn:hover .bannerbtn:not(:hover) svg path {
  stroke: #333;
}
#banner .banner-text .bnrbtn:hover .bannerbtn:hover::after {
  width: 100%;
}
#banner .banner-text .bnrbtn:hover .bannerbtn:hover {
  color: #fff;
}
/* banner end */
/* counter start */
#counter {
  padding: 93px 0 133px;
}
#counter .countbox {
  text-align: center;
}
#counter .countbox h2 {
  color: #000;
  font-size: 48px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0.5px;
}
#counter .countbox h5 {
  color: rgba(18, 18, 18, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin-top: 8px;
  text-transform: uppercase;
}
/* counter end */
/* service start */
#service {
  padding-bottom: 140px;
}
#service .txt {
  padding-bottom: 64px;
  text-align: center;
}
#service .txt .heading {
  padding: 12px 0 13px;
}
#service .txt .note {
  max-width: 600px;
  margin: 0 auto;
}
#service .card {
  border: none;
  border-radius: 24px;
  background: #f9f9fc;
  box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
  padding: 51px 35px 52px 34px;
  max-width: 376px;
}
#service .card img {
  width: 41px;
  margin: 0 auto;
}
#service .card .card-body {
  padding: 0;
  text-align: center;
}
#service .card .card-body .card-title {
  text-align: center;
  padding: 37px 0 9px;
  margin: 0;
}
/* service end */
/* graphic start */
#graphic {
  padding: 109px 0 113px;
  background: #f9f9fc;
}
#graphic .txt h2 {
  color: #333;
  font-size: 60px;
  font-weight: 700;
  max-width: 482px;
  margin-top: 22px;
  line-height: 78px;
}
#graphic .txt p {
  color: #333;
  margin-top: 15px;
  margin-bottom: 0;
  max-width: 584px;
}
#graphic .txt .graphic-btn {
  margin-top: 30px;
}

/* graphic end */
/* brand start */
#brand {
  padding: 129px 0;
}
#brand .brandslider {
  position: relative;
  height: 70px;
  overflow: hidden;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}
#brand .brandslider .slide {
  position: absolute;
  top: 0;
  right: -100%;
  display: flex;
  column-gap: 83px;
  animation: brandslide1 20s linear infinite;
  -webkit-animation: brandslide1 20s linear infinite;
}
@keyframes brandslide1 {
  0% {
    top: 0;
    right: -100%;
  }
  100% {
    top: 0;
    right: 100%;
  }
}
#brand .brandslider .slide:last-child {
  right: -100%;
  animation: brandslide2 20s linear 10s infinite;
  -webkit-animation: brandslide2 20s linear 10s infinite;
}
@keyframes brandslide2 {
  0% {
    top: 0;
    right: -100%;
  }
  100% {
    top: 0;
    right: 100%;
  }
}
#brand .brandslider:hover .slide {
  animation-play-state: paused;
}
/* brand end */
/* portfolio start */
#portfolio {
  padding-bottom: 132px;
}
#portfolio .title {
  margin-top: 50px;
  display: flex;
}
#portfolio .title .left,
#portfolio .title .right {
  width: 50%;
}
#portfolio .title .right p {
  max-width: 557px;
  margin-top: 10px;
}
#portfolio .portrow {
  margin-top: 51px;
  row-gap: 35px;
}
#portfolio .card {
  border-radius: 24px;
  background: #fff;
  box-shadow: 37px 37px 80px 0px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  overflow: hidden;
  border: none;
}
#portfolio .card .image {
  height: 290px;
  background: #c4c4c4;
}
#portfolio .card .card-body {
  padding: 34px 0 46px 47px;
}
#portfolio .card .card-body 
/* portfolio end */
